body{
    
    .bg-pink{
        background-color: $color-nav;
        border-bottom: 2px solid black;
    }
    .img_logo{
        display: flex;
        width: 20%;
        margin-left: 5rem;
    }
    
}

 

