

$colores:(
    "negro" : black,
    "blanco": white,
    "bk-pink": pink,
    "fondo-formulario":rgba(255, 255, 255, 0.692)
     
);

$fuentes:(
    "normal":verdana,
    "titulo-1":Helvetica
)

//Variables de Colores//

$color-principal:rgba(78,33,88,1);
$color-1: white;
$color-2: black;
$color-3:rgb(111, 107, 107);;
$color-4:#110110;;
$color-5:rgb(111, 107, 107);;
$color-6:#450d42;
$color-fondo-formulario:rgba(255, 255, 255, 0.692);