.footer_box{
    color: $blanco;
    margin-top: 2rem;
    padding: 0.5rem;
    background-color: $color-nav;
    position: relative ;
    bottom: 0;
    width: 100%;
}

.footer_box span, .footer_formularios_fijo span{
    margin-left: 22px;
}

.footer_box a, .footer_formularios_fijo a{
    color:white;

}

.footer_formularios_fijo{
    color: $blanco;
    padding: 0.5rem;
    background-color: $color-nav;
    position: fixed ;
    bottom: 0;
    width: 100%;
}

.btn-mail{
    text-decoration: none;
    color:$blanco;
}
    
.bi-facebook{
        font-size: 25px;
        text-decoration: none;
        color:$gris;
        padding-left: 1rem;
        
        &:hover{
            text-decoration: none;
            color:$color-fb;
        }
    }   
.bi-instagram{
        font-size: 25px;
        text-decoration: none;
        color:$gris;
        padding-left: 1rem;
    
        &:hover{
            text-decoration: none;
            color:$naranja;
        }
    }
.bi-whatsapp{
        font-size: 25px;
        text-decoration: none;
        color:$gris;
        padding-left: 1rem;
    
        &:hover{
            text-decoration: none;
            color: $color-wp;
        }
}

