/*footer*/
.footer_box{
    color: white;
    margin-top: 2rem;
    padding: 0.5rem;
    background-color: rgb(78,33,88);
    position: relative ;
    bottom: 0;
    width: 100%;
}

.footer_box span{
    margin-left: 22px;
}

.footer_box a{
    color:white;

}

.btn-mail{
        text-decoration: none;
        color:$blanco;
    }
    
.bi-facebook{
        font-size: 25px;
        text-decoration: none;
        color:$gris;
        padding-left: 1rem;
        
        &:hover{
            text-decoration: none;
            color:$color-fb;
        }
    }   
.bi-instagram{
        font-size: 25px;
        text-decoration: none;
        color:$gris;
        padding-left: 1rem;
    
        &:hover{
            text-decoration: none;
            color:$naranja;
        }
    }
.bi-whatsapp{
        font-size: 25px;
        text-decoration: none;
        color:$gris;
        padding-left: 1rem;
    
        &:hover{
            text-decoration: none;
            color: $color-wp;
        }
}

