main{
    background-image: url(../images/fondo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    min-height: 100vh;

    .centrar{
        text-align: center;
        justify-content: center;
    }
        
    .centrar-404{
        text-align: center;
        justify-content: center;
        border-radius: 2rem;
        width: 50%;
        height: auto;
    }

    .container{
        background-color: $color-fondo-formulario;
        font-weight: bold; 
        border-radius: 20px;
        margin-top: 5rem;
        width: 65%;
        height: auto;
        
      
    }   

}

