main{
    background-image: url(../images/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    min-height: 100vh;

    .centrar, .centrar-contacto{
        text-align: center;
        justify-content: center;
    }
    .centrar-contacto{
        margin: 0;
    }    
    .container{
        background-color: $color-fondo-formulario;
        border-radius: 20px;
        margin-top: 5rem;
        width: 70%;
    } 
}

