@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,500&display=swap');

$font-rob:'Roboto', sans-serif;

$blanco: white;
$negro: black;
$negro-sombra:rgba(0,0,0,0.2);
$violeta-sombra:#5b12572e;
$gris:rgb(111, 107, 107);
$oscuro:#2a0728;
$naranja:#ed6c06;
$chicle:#d3259c;
$violeta5asec:#5b1257;
$color-nav:rgb(78,33,88);
$color-fondo-formulario: rgba(255, 255, 255, 0.497);
$fondo-formulario-contacto: rgba(255, 255, 255, 0.852);
$item-elegido:linear-gradient(90deg, rgba(78,33,88,1) 0%, rgba(134,54,129,1) 50%, rgba(78,33,88,1) 100%);
$color-fb: #425199;
$color-wp:#25D366;


