
$blanco: white;
$negro: black;
$gris:rgb(75, 71, 71);
$naranja:#ed6c06;
$negro-sombra:rgba(0,0,0,0.2);
$violeta-sombra:#5b12572e;
$violeta5asec:#5b1257;
$color-nav:rgb(78,33,88);
$fondo-card2:rgba(128, 128, 128, 0.248);
$color-fondo-formulario: rgba(255, 255, 255, 0.497);
$fondo-formulario-contacto: rgba(255, 255, 255, 0.852);
$item-elegido:linear-gradient(90deg, rgba(78,33,88,1) 0%, rgba(134,54,129,1) 50%, rgba(78,33,88,1) 100%);
$color-fb: #425199;
$color-wp:#25D366;


