@import "./mixins";
@import "./variables";
@import "./settings";
@import "./botones";
@import "./body";
@import "./main";
@import "./footer";

.max-altura{
    margin-top: map-get($map: $mapa, $key:L)*2;
    width: 35%;
    height: auto;
}
.text-color{
    border:none;
    color:$blanco;

    &:hover{
    border:none;
    color:$gris;
    }
}
.container-index, .container-proceso, .container-tips{
    background-color:$color-fondo-formulario;
    font-weight: bold;
    border-radius: 20px;
    color: $violeta5asec;
}
.container-index{
    margin-top: map-get($map: $mapa, $key:M)*3;
    padding: map-get($map: $mapa, $key:XS);
    width: 90%;
    height: auto;
}
.container-proceso{
    border: 1px solid $negro;
    margin:0 auto;
    width: 40%;
    height: auto;
}
.container-tips{
    padding: map-get($map: $mapa, $key:XS);
    border: 1px solid $negro;
    margin:0 auto;
    width: 68%;
    height: auto;
}
.container-proceso img, .container-tips img{
    width: 100%;
    border-radius: 20px;
    margin-top: map-get($map: $mapa, $key:XS);
    margin-bottom: map-get($map: $mapa, $key:XS);
}
.container-proceso img{
    background-color: rgba(245, 245, 245, 0.603);
    &:hover{
        background-color: rgba(245, 245, 245, 0.805);
        transition: 0.8s;
        transform:scale(1.40)
    }
}
.container-tips img{
    &:hover{
        transition: 0.5s;
        transform:scale(1.2)
    }
}
.container-contact , .container-mapa{
    background-color: $fondo-formulario-contacto;
    font-weight: bold;
    padding: map-get($map: $mapa, $key:S);
    border-radius: 20px;
    border: 1px solid $negro;
    color: $violeta5asec;
    margin:0 auto;
    width: 90%;
    height: auto;
}
.navbar{
    height: 63px; 
}
.navbar-nav .nav-link.active {
    color: #adb5bd;
} 
.navbar-nav a{
    margin-left: map-get($map: $mapa, $key:S)*3;
    transition: all 1ms ease;
    margin: 0;
    padding: map-get($map: $mapa, $key:S);
    background-color: $color-nav;
    color: $naranja; 
    &:hover{
        color:$color-fondo-formulario;
    }
}
.navbar-toggler{
    margin-top:-1rem;
    border:1px solid $naranja;
    &:hover{
        border:2px solid $naranja;
    }
}
.item-elegido{
    transform: scale(1);
    background: $item-elegido;
    text-decoration: none;
}

/* estilos de titulos h1---h6*/
h1, .h2-404{
    color: $naranja;
    font-weight: bold;
    font-size: map-get($map: $mapa, $key:M);
}
h1{
    margin-top: map-get($map: $mapa, $key:L)+1;
    background-color: transparent;
    text-align:center;
    width: 100%;
    height: auto;
}
h2{
    color: $blanco;
    font-size: map-get($map: $mapa, $key:SM);
}
.h2-404{
    margin-top: -2rem;
}
h3, h5{
    color:$gris;
    font-weight: bold;
    text-align: center;
    font-size: map-get($map: $mapa, $key:S);
}
h3{
    padding-top: 0.8rem;
}
h4, h6{
    color: $violeta5asec;
    font-weight: bold;
}
h4{
    text-align: center;
    font-size: map-get($map: $mapa, $key:S);
}
.h4-left{
    margin: map-get($map: $mapa, $key:S);  
}
h6{
    padding-top:map-get($map: $mapa, $key:XS);
}
.centrar-h1{
    padding: 0;
    margin: 0;
    padding-top: map-get($map: $mapa, $key:XS);
    color: $gris;
}
.centrar-h2{
    text-align: center;
    justify-content: center;
    padding: map-get($map: $mapa, $key:M);
    font-size: map-get($map: $mapa, $key:L)+1;
}
.form-control{
    color: $violeta5asec;
    text-align: left;
    font-size: medium;
    border:none;
    background-color: transparent;
    border-bottom: 1px solid $naranja;
    margin-top: map-get($map: $mapa, $key:XS);
    &:hover{
        border:none;
        opacity: 0.5;
        border-bottom: 1.8px solid $naranja;
        background-color: transparent;
    }
}
.form-textarea{
    margin-top: 0.8rem;
    padding: 0.1rem;
    font-size: map-get($map: $mapa, $key: S);
    background-color: transparent;
    color: $violeta5asec;
    text-align: left;
    width: 100%;
    height: map-get($map: $mapa, $key: L)+1;
    border: 1px solid $naranja;
}
.text-form{
    color:$negro; 
}
.form-check, .form-floating {
    text-align: left;
    font-size: map-get($map: $mapa, $key:SM)/2;
    color: $violeta5asec;
}
.top-5rem{
    margin-top: map-get($map: $mapa, $key:L)*2;
}
.card{
    border:none;
    background-color: transparent;
    width: 100%;
    height: auto;
    padding-bottom: 0.2rem;
    margin-bottom: map-get($map: $mapa, $key:S);
}
.card-text{
    border:none;
    padding-top: map-get($map: $mapa, $key:XS);
    font-size: map-get($map: $mapa, $key:S);
    font-weight:bold;
    text-decoration: none;
    color:$violeta5asec;
    margin-bottom: map-get($map: $mapa, $key:XS);
    &:hover:first-child{
        color:$naranja;
        transform:scale(1.4);
        transition: 1s;
    }
}
.card2{
    justify-content: space-around;
    box-shadow: 8px 1px 10px $negro-sombra;
    cursor: default;
    transition: all 400ms ease;
    padding-bottom: 0.2rem;
    width: 100%;
    height: auto;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border-right:2px solid $violeta5asec;
}
.card2-text{
    font-size: medium;
    font-weight:bold;
    text-decoration: none;
    color: $blanco;
    &:hover{
        color: $negro;
    }
}
.estilo-b{
    margin-top: map-get($map: $mapa, $key:XS);
    width: 90%;
    height: 150px;
    border-right: 2px solid $naranja;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%; 
}
.estilo-c{
    border-radius: 20px;
    width: 80%;
    height: auto;
    box-shadow: 10px 10px 5px 0px $negro-sombra;
}
.estilo-b a:hover{
    color: $naranja;
}
.parrafo{
    padding: 0;
    margin: 0;
    font-weight: bold;
    color:$violeta5asec;
    padding-top: 0.2rem;
    font-size: map-get($map: $mapa , $key: S);
    letter-spacing: 2px;
}
.rotar{
    background-image: url(../images/impg-404.jpg);
    text-align: center;
    justify-content: center;
    border-radius: map-get($map: $mapa, $key:XL);
    width: 35%;
    height: auto;
    position: relative;
    animation-name: rotar;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 0s;
}
.burbuja{
    background-image: url(../images/iconos/logo-burbuja.png);
    border-radius: 50%;
    opacity: .2;
    position: absolute;
    bottom: 0;
    animation: burbujas 3s linear infinite;
}
.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left:5%;
    animation-duration: 3s;
    animation-delay: 3s;
}
.burbuja:nth-child(2){
    width: 30px;
    height: 30px;
    left:15%;
    animation-duration: 3s;
    animation-delay: 5s;
}
.burbuja:nth-child(3){
    width: 40px;
    height: 40px;
    left:70%;
    animation-duration: 4s;
    animation-delay: 5s;
}
.burbuja:nth-child(4){
    width: 60px;
    height: 60px;
    left:80%;
    animation-duration: 4s;
    animation-delay: 3s;
}
.slide-in-elliptic-top-fwd {
	-webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.text-pop-up-top {
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/*****************  ANIMACION ROTAR ********************************/
@keyframes rotar{
    0%{
    transform: rotate(-360deg);
    transition: all .3s ease-in-out;
    }
    10%{
        transform: rotate(-360deg);
        transition: all .3s ease-in-out;
    }

}
/*****************  ANIMACION CONTACTO ********************************/
@keyframes contacto-animado{
    100%{
        width: 20%;
    }
}
/*****************  ANIMACION BURBUJAS ********************************/
@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    60%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: .8;
    }
}
/*****************  ANIMACION slide-in-elliptic-top-fwd *****************/
@-webkit-keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
}
/***************** ANIMACION text-pop-up-top ******************/
  @keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 10% 10%;
              transform-origin: 10% 10%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-3px);
              transform: translateY(-3px);
      -webkit-transform-origin: 10% 10%;
              transform-origin: 10% 10%;
      text-shadow: 0 1px 0 #cccccc6a, 0 2px 0 #cccccc6a, 0 3px 0 #cccccc6a, 0 4px 0 #cccccc6a, 0 5px 0 #cccccc6a, 0 6px 0 #cccccc6a, 0 10px 13px rgba(0, 0, 0, 0.3);
    }
  }    
/*********  MEDIA QUERY  1280 ******/  
@media screen and (max-width: 1280px) {
    h1{
        font-size: map-get($map: $mapa , $key: SM);
    }
    .card2, .estilo-b{
        width: 95%;
    }
    .container-proceso{
        width: 50%;
    }
    .container-proceso img{
        width: 100%;
        &:hover{
            transform:scale(1.30)
        }
    }
    .container-tips{
        width: 80%;
    }
}
/*********  MEDIA QUERY  1024 ******/
@media screen and (max-width: 1024px) {
    *.navbar-nav a:last-child{
        margin-right: 0;
    }
    *.footer_box :nth-child(2) {
        margin-left: map-get($map: $mapa, $key:M)*4;
    }
    .rotar{
        width: 50%;
        height: auto;
        }
    .footer_box{
        position: relative;
    }
    .centrar-h2{
        font-size: map-get($map: $mapa, $key:SM)*2;
    }
    .text-color{
        border:none;
        font-weight: bold;

        &:hover{
            border:none;
            font-weight: bold;
            color:$violeta5asec;
        }
    }
    h4{
        font-size: map-get($map: $mapa, $key:S);
    }
    h6{
        padding-top: 0.2rem;
        padding: 0;
        font-size: map-get($map: $mapa, $key:XS);
    }
    iframe {
        width: 80%;
        height:auto;
    }
    .card{
        padding: 0;
        padding-bottom: map-get($map: $mapa, $key:M);
    }
    .card-text{
        padding-bottom: map-get($map: $mapa, $key:MS);
    }
}
@media screen and (max-width: 991px) {
    .navbar-nav {
        margin-top:-1rem;
        margin-left: -1rem;
        width: 32%;
    }
}
/*********  MEDIA QUERY  900 ******/
@media screen and (max-width: 900px) {
    h5{
        width: 48px;
        padding-left: 0;
        font-size: map-get($map: $mapa, $key:S);
    }
    h6{
        padding-top: 0.2rem;
        padding: 0;
        font-size: map-get($map: $mapa, $key:XS);
    }
    .text-color{
        color:$negro;
    }
    .card2, .estilo-b{
        width: 100%;
        margin: 0 auto;
    }
    .card{
        padding: 0;
        width: 80%;
        margin:0 auto;
    }
    .card-text{
        margin-bottom: map-get($map: $mapa, $key:XS);
        padding-top: map-get($map: $mapa, $key:XS);
        font-size: map-get($map: $mapa, $key:S);
        margin: 0;
    }
    /*Boton redes*/  
    .bi-facebook2{
        color:$color-fondo-formulario;
    }
    .bi-facebook, .bi-instagram, .bi-whatsapp, .bi-facebook2 {
        font-size: map-get($map: $mapa, $key:S);
        padding-left: map-get($map: $mapa, $key:XS);
    }
    .form-check, .form-floating {
        font-size: map-get($map: $mapa, $key:XS);
    }

}
/*********  MEDIA QUERY  780******/
@media screen and (max-width: 780px) {
    *.footer_box :nth-child(2) {
        margin-left: map-get($map: $mapa, $key:XL);
    }
    .container-contact , .container-mapa{
        width: 80%;
        margin-bottom: map-get($map: $mapa, $key:S);
    }
    .row {
        --bs-gutter-x: 0;
    }
    .col-md-3 {
        margin-inline: map-get($map: $mapa, $key:XS);
    }
    .card2, .estilo-b{
        width: 90%;
    }
    .card{
        padding: 0;
        width: 80%;
        margin:0 auto;
    }
}
/*********  MEDIA QUERY  610- Surface Duo******/
@media screen and (max-width: 610px) {
    .item-elegido{
        color: $violeta5asec;
    }
    .footer_box{
        font-size: 8px;
        padding: 0.1rem;
        padding-top: map-get($map: $mapa, $key:XS);
        padding-bottom: map-get($map: $mapa, $key:XS);
    }
    .row{
        margin-left: 0;
    }
    .container-tips, .container-proceso{
        width: 80%;
    }
    .container-proceso img{
        width: 100%;
        &:hover{
            transition: 0.8s;
            transform:scale(1.35)
        }
    }
    .card2,.card, .estilo-b{
        width: 80%;
        margin: 0 auto;
    }
    .rotar{
        width: 70%;
        height: auto;
        }
}
/*****************************/
@media screen and (max-width: 490px) {

    .navbar-toggler{
        margin-top: 0;     
    }
    .container-tips{
        width: 90%;
        padding: map-get($map: $mapa, $key:SM);
    }
    .container-tips img{
        width: 100%;
        margin-bottom:map-get($map: $mapa, $key:S);
        margin-top: -1rem;
        padding: 0;
        &:hover{
            transition: 0.5s;
            transform:scale(1.10)
        }
    }

}
/*********MEDIA QUERY - 481 *******/
@media screen and (max-width: 484px) {
    *.footer_box :nth-child(2) {
        margin-left: map-get($map: $mapa, $key:M)*3;
    }
    .navbar-toggler{
        margin-top:-5rem;
    }
    h1{
        font-size: map-get($map: $mapa , $key: SM);
    }
    h2{
        font-size: medium; 
    }
    h3{
        font-weight: bold;
    }
    h6{
        font-size: 0.8rem;
        padding: 0;
    }
    .col-md-4{
        width: 95%;
        margin-bottom: map-get($map: $mapa, $key:M);
    }
    .centrar-h2{
        padding-top: map-get($map: $mapa, $key:SM)*3;
    }
    .centrar-h4{
        padding-top: map-get($map: $mapa, $key:XS);

        img{
            width: 100%;
            height: 350px;

        }
    }    
    .centrar-form{
        min-height: 500px;
    }
    .parrafo{
        font-weight: 900;
        color:$violeta5asec;
        padding-top: map-get($map: $mapa , $key: S);
        font-size: map-get($map: $mapa , $key: S);
        letter-spacing: 2px;
    }
    .card2, .estilo-b{
        width: 100%;
        margin:0 auto;
    }
    .card{
        padding:0;
        width: 100%;
        margin:0 auto;
        font-size: map-get($map: $mapa, $key:S);
    }
    .botones{
        width: 100px;
    }  
    .boton-centrado{
        padding-left: 1.3rem;
    }
    .max-altura{
        padding-top: map-get($map: $mapa , $key: L);
        width: 65%;
    }
    .container-contact , .container-mapa{
        margin-bottom: map-get($map: $mapa, $key:S);
        width: 90%;
    }   
    .text-color:hover{
        border:none;
        font-weight: bold;
        color:$negro-sombra;
    }
    .bi-facebook, .bi-instagram, .bi-whatsapp {
        padding-left: 0.2rem;
    }

    @keyframes contacto-animado{
        100%{
            width: 50%;
        }
    }
}
/*****************MOBIL Galaxy Fold- SMALL ONE*/
@media screen and (max-width: 280px) {
    h1{
        padding-top: map-get($map: $mapa, $key:M);
        font-size: map-get($map: $mapa, $key:S);
    }
    h3{
        margin-top: map-get($map: $mapa, $key:S);
    }
    .centrar{
        margin-top:0;
    }    
    .centrar-h2{
        padding-top: map-get($map: $mapa, $key:S);
        font-size: map-get($map: $mapa, $key:M);
    }
    .navbar-toggler{
        margin-top:-3rem;
    }
    .navbar-nav {
        margin-top: map-get($map: $mapa, $key:XS);
        width: 40%;
    }
    .form-check, .form-floating {
        font-size: map-get($map: $mapa, $key:XS)/2;
    }
        .footer_box{
        font-size: 5px;
        margin: 0;
    }
        /*Boton redes*/
    .bi-facebook, .bi-instagram, .bi-whatsapp {
        font-size: map-get($map: $mapa, $key:XS)/2;
    }
    .datos, .parrafo{
        font-size: map-get($map: $mapa, $key:SM)/2;
    }
}