@import "./mixins";
@import "./variables";
@import "./settings";
@import "./botones";
@import "./body";
@import "./main";
@import "./footer";

.max-altura{
    margin-top: 5rem;
    width: 35%;
    height: auto;
}
.text-color{
    border:none;
    color:$blanco;

    &:hover{
    border:none;
    color:$gris;
    }
}
.row{
    margin-right: 0;
}
.container-proceso{
    background-color: $color-fondo-formulario;
    font-weight: bold;
    padding: map-get($map: $mapa, $key:XS);
    border-radius: 20px;
    border: 1px solid $negro;
    color: $violeta5asec;
    margin:0 auto;
    width: 35%;
    height: auto;

}
.container-proceso img{
    width: 150%;
    border-radius: 20px;
    &:hover{
        transition: 0.5s;
        transform:scale(1.40)
    }

}

.container-contact , .container-mapa{
    background-color: $fondo-formulario-contacto;
    font-weight: bold;
    padding: map-get($map: $mapa, $key:XS);
    border-radius: 20px;
    border: 1px solid $negro;
    color: $violeta5asec;
    margin:0 auto;
    width: 100%;
    height: auto;
}

.navbar{
    height: 63px; 
}
  
.navbar-nav a{
    margin-left: map-get($map: $mapa, $key:S)*3;
    transition: all 1ms ease;
    width: fit-content;
    margin: 0;
    padding: map-get($map: $mapa, $key:S);
    background-color: $violeta-sombra;
}
.item-elegido{
    transform: scale(1);
    background: $item-elegido;
    text-decoration: none;
}
     
.big{
    width: 90%;
    height: auto;
    transition: 0.5s;
    border-radius: 20px;
    cursor: pointer;
    width: 18rem;
    
    &:hover{
    transform:scale(1.10)
    }
}
.big-tip{
    width: 100%;
    height: auto;
    transition: 0.5s;
    border-radius: 20px;
    cursor: pointer;
    width: 18rem;
    
    &:hover{
    transform:scale(1.90)
    }
}

/* estilos de titulos h1---h6*/
h1{
    margin-top: map-get($map: $mapa, $key:L)+1;
    background-color: transparent;
    color:$violeta5asec;
    font-weight: bold;
    font-size: map-get($map: $mapa, $key:M);
    text-align:center;
    width: 100%;
    height: auto;
    color: $naranja;
}

.text-pop-up-top {
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

h2{
    color: $blanco;
    font-size: map-get($map: $mapa, $key:SM);
}

.h2-404{
    color: $violeta5asec;
    font-size: map-get($map: $mapa, $key:SM);
    font-weight: bold;
}

h3{
    color:$gris;
    font-weight: bold;
    text-align: center;
    font-size: map-get($map: $mapa, $key:S);
    padding-top: 0.8rem;
}

h4{
    color: $oscuro;
    font-weight: bold;
    text-align: center;
    font-size: map-get($map: $mapa, $key:S);
}

.h4-left{
    color: $oscuro;
    font-weight: bold;
    text-align: left;  
    margin:0;
    font-size: map-get($map: $mapa, $key:S);
    padding: map-get($map: $mapa, $key:XS);
    padding-bottom: map-get($map: $mapa, $key:XS);
     
}

h5{
    color:$gris;
    font-weight: bold;
    text-align: center;
    font-size: map-get($map: $mapa, $key:S);
}

h6{
    color:$oscuro;
    font-weight: bold;
    padding-top:map-get($map: $mapa, $key:XS);;
}

.form-control, .form-select{
    color: $violeta5asec;
    text-align: left;
    font-size: medium;
    border:none;
    background-color: transparent;
    border-bottom: 1px solid $chicle;
    height: 40px;
}


.form-control:hover ,.form-select:hover{
    border:none;
    opacity: 0.5;
    border-bottom: 1.8px solid $chicle;
    background-color: transparent;
}

.form-textarea{
    margin-top: 0.8rem;
    padding: 0.1rem;
    font-size: map-get($map: $mapa, $key: S);
    background-color: transparent;
    color: $violeta5asec;
    text-align: left;
    width: 100%;
    height: 40px;
    border: 1px solid $chicle;
}

.text-form{
    color:$negro; 
}

.form-check, .form-floating {
    text-align: left;
    font-size: map-get($map: $mapa, $key:SM)/2;
    color: $violeta5asec;
}

.top-5rem{
    margin-top: map-get($map: $mapa, $key:L)*2;
}
.centrar-h1{
 padding: 0;
 margin: 0;
 padding-top: 0.5rem;
}

.centrar-h2{
    text-align: center;
    justify-content: center;
    padding: 2rem;
    font-size: map-get($map: $mapa, $key:L)+1;
}

.card{
    justify-content: space-around;
    background-color: $color-fondo-formulario;
    border-radius: 20px;
    box-shadow: 8px 1px 10px $negro-sombra;
    cursor: default;
    transition: all 400ms ease;
    width: map-get($map: $mapa, $key:L)*4+2;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 0.2rem;

    &:hover{
        box-shadow: 5px 5px 20px $negro-sombra;
        transform: translateY(-3%); 
    }
}

.card-text{
    padding-top: map-get($map: $mapa, $key:XS);
    font-size: map-get($map: $mapa, $key:S);
    font-weight:bold;
    text-decoration: none;
    color:$oscuro;
    margin-bottom: map-get($map: $mapa, $key:XS);

    &:hover{
        color: $oscuro;
    }

}

.card2{
    justify-content: space-around;
    background-color: $color-fondo-formulario;
    border-radius: 55px;
    box-shadow: 8px 1px 10px $negro-sombra;
    cursor: default;
    transition: all 400ms ease;
    width: 30%;
    height: auto;
    padding-bottom: 0.2rem;
    width: map-get($map: $mapa, $key:L)*6+1;
}

.card2-text{
    font-size: medium;
    font-weight:bold;
    text-decoration: none;
    color: $blanco;

    &:hover{
        color: $negro;
    }

}

.estilo-b{
    margin-top: map-get($map: $mapa, $key:XS);;
    width: 90%;
    height: 150px;
    border-radius: 50%;
}
.estilo-c{
    border-radius: 20px;
    width: 80%;
    height: auto;
    box-shadow: 10px 10px 5px 0px $negro-sombra;
}
.small{
    width: 50%;
    height: auto;
   
}

.estilo-b a:hover{
    color: $naranja;
}
.parrafo{
    padding: 0;
    margin: 0;
    font-weight: bold;
    color:$oscuro;
    padding-top: 0.2rem;
    font-size: map-get($map: $mapa , $key: S);
    letter-spacing: 2px;
}



/****** ANIMACION FONDO BURBUJAS */
.burbuja{
    /* background-color: gray; */
    background-image: url(../images/iconos/logo-burbuja.png);
    border-radius: 50%;
    opacity: .2;
    position: absolute;
    bottom: -150;

    animation: burbujas 3s linear infinite;
}
.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left:5%;
    animation-duration: 3s;
    animation-delay: 3s;
}
.burbuja:nth-child(2){
    width: 30px;
    height: 30px;
    left:15%;
    animation-duration: 3s;
    animation-delay: 5s;
}
.burbuja:nth-child(3){
    width: 40px;
    height: 40px;
    left:60%;
    animation-duration: 4s;
    animation-delay: 5s;
}
.burbuja:nth-child(4){
    width: 60px;
    height: 60px;
    left:70%;
    animation-duration: 4s;
    animation-delay: 3s;
}
/************************** ANIMACION PANTALLAS EN LA ENTRADA */
.slide-in-elliptic-top-fwd {
	-webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/*****************  ANIMACION BURBUJAS ********************************/
@keyframes contacto-animado{
    100%{
        width: 20%;
    }
}

@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    60%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: .8;
    }
}
@-webkit-keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
  }
  @keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
  }
/* ----------------------------------------------
 * Generated by Animista on 2022-9-8 8:49:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-pop-up-top
 * ----------------------------------------
 */
  @keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 10% 10%;
              transform-origin: 10% 10%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-3px);
              transform: translateY(-3px);
      -webkit-transform-origin: 10% 10%;
              transform-origin: 10% 10%;
            //   text-shadow: 0 1px 0 #cccccc6a, 0 2px 0 #cccccc6a, 0 3px 0 #cccccc6a, 0 4px 0 #cccccc6a, 0 5px 0 #cccccc6a, 0 6px 0 #cccccc6a, 0 7px 0 #cccccc6a, 0 8px 0 #cccccc6a, 0 9px 0 #cccccc6a, 0 50px 30px rgba(0, 0, 0, 0.3);
      text-shadow: 0 1px 0 #cccccc6a, 0 2px 0 #cccccc6a, 0 3px 0 #cccccc6a, 0 4px 0 #cccccc6a, 0 5px 0 #cccccc6a, 0 6px 0 #cccccc6a, 0 10px 13px rgba(0, 0, 0, 0.3);
    }
  }
      
/*********  MEDIA QUERY  1280 ******/  
@media screen and (max-width: 1280px) {
    .card2, .estilo-b{
        width: 95%;
    }
    .container-proceso{
        width: 40%;
    }
}
/*********  MEDIA QUERY  1180 ******/  
@media screen and (max-width: 1180px) {
    .big-tip{
        width: map-get($map: $mapa, $key:L)*4+6;
    }
}

/*********  MEDIA QUERY  1024 ******/
@media screen and (max-width: 1024px) {
    *.navbar-nav a:last-child{
        margin-right: 0;
    }
    *.footer_box :nth-child(2) {
        margin-left: 8rem;
    }
    .footer_box{
        position: relative;
    }
    .centrar-h2{
        font-size: map-get($map: $mapa, $key:SM);
    }
    .text-color{
        border:none;
        font-weight: bold;

        &:hover{
            border:none;
            font-weight: bold;
            color:$oscuro;
        }
    }

    h4{
        font-size: small;
    }

    iframe {
        width: 80%;
        height:auto;
    }

     .btn_wp{
        width: 5%;
    }

    h6{
        padding-top: 0.2rem;
        padding: 0;
        font-size: x-small;
    }
    .card{
        padding: 0;
        width: 95%;
        margin:0 auto;
    }
    .card-text{
        margin: 0;
        padding: 0;
        font-size: x-small;
        font-weight: none;
    }

    .big-tip{
        width: map-get($map: $mapa, $key:M)*6;
    
        &:hover{
            transform:scale(1.20)
        }
    }
}

/*********  MEDIA QUERY  900 ******/
@media screen and (max-width: 900px) {
    .text-color{
        color:$negro;
    }

    .footer_box{
        position: relative ;
    }
    .card2,.card, .estilo-b{
        width: 100%;
    }

    h5{
        width: 48px;
        padding-left: 0;
        font-size: small;
    }

    h6{
        padding-top: 0.2rem;
        padding: 0;
        font-size: x-small;
    }
    .card-text{
        margin-bottom: map-get($map: $mapa, $key:XS);
        padding-top: map-get($map: $mapa, $key:XS);
        margin: 0;
        font-size: x-small;
    }
    .card{
        padding: 0;
        width: 80%;
        margin:0 auto;
    }
    .big{
        width: map-get($map: $mapa, $key:M)*6+2;
        margin-left: 0;
        
        &:hover{
            transform:scale(1.20)
        }
    }
        /*Boton redes*/
   
        .bi-facebook{
            font-size: 15px;
            padding-left: 0.5rem;
    
        }
    
        .bi-instagram{
            font-size: 15px;
            padding-left: 0.5rem;
    
        }
    
        .bi-whatsapp{
            font-size: 15px;
            padding-left: 0.5rem;
        }

        .big-tip{
            width: 100%;
        }
        .form-check, .form-floating {
            font-size: x-small;
        }
    }
/*********  MEDIA QUERY  780******/
@media screen and (max-width: 780px) {
    *.footer_box :nth-child(2) {
        margin-left: 3rem;
    }
    .container-contact , .container-mapa{
        width: 80%;
        margin-bottom: 1rem;
    }
    .estilo-b{
        width: 90%;
    }

    .card{
        padding: 0;
        width: 80%;
        margin:0 auto;
    }

    .big-tip{
        width: 100%;
    }

}
/*********  MEDIA QUERY  610- Surface Duo******/
@media screen and (max-width: 610px) {

    .item-elegido{
        color: $violeta5asec;
    }

    /*Boton redes*/
    .bi-facebook{
        font-size: 15px;
        padding-left: 0.2rem;
    
    }
    
    .bi-instagram{
        font-size: 15px;
        padding-left: 0.2rem;
    
    }
    
     .bi-whatsapp{
        font-size: 15px;
        padding-left: 0.2rem;
     }
    .footer_box{
        font-size: 8px;
    }
}

/*********MEDIA QUERY - 481 *******/
@media screen and (max-width: 485px) {
    *.footer_box :nth-child(2) {
        margin-left: 6rem;
    }
    @media screen and (max-width: 490px) {
        .navbar-toggler{
            background-color: $violeta-sombra;
            border:none;
            margin-top: -5rem;
        }
    }

    h2{
        font-size: medium; 
    }

    h3{
        color:$violeta5asec;
        font-weight: bold;
        ;
    }

    h6{
        font-size: 0.8rem;
        padding: 0;
    }

    .col-md-4{
        width: 80%;
        margin-bottom: 2rem;
    }

    .centrar-h2{
        padding-top: map-get($map: $mapa, $key:SM)*3;
        font-size: map-get($map: $mapa, $key:SM)*2;
    }

    .centrar-h4{
        padding-top: 0.5rem;
    }

    .parrafo{
        padding: 0;
        margin: 0;
        font-weight: 900;
        color:$oscuro;
        padding-top: 0.1rem;
        font-size: map-get($map: $mapa , $key: XS);
        letter-spacing: 2px;
        bottom: 5rem;
    }

    .container{
        margin-top: 6rem;
        width: 80%;
        height: auto;
        padding: 0.5rem;
        border-radius: 20px;
        color: $violeta5asec;
        font-weight: bold;
    }

    .centrar-form{
        min-height: 500px;
    }

    .card{
        padding:0;
        width: 55%;
        margin:0 auto;
        font-size: small;
    }

    /*Boton redes*/

    .bi-facebook{
        font-size: 15px;
        padding-left: 0.2rem;

    }

    .bi-instagram{
        font-size: 15px;
        padding-left: 0.2rem;

    }

    .bi-whatsapp{
        font-size: 15px;
        padding-left: 0.2rem;
    }

    .botones{
        width: 100px;
    }  
    .boton-centrado{
        padding-left: 1.3rem;
    }
    
    .btn-contacto{
        width: 7rem;
        background-color:$violeta5asec;
        letter-spacing: 0;
        margin-top:4rem;
        position: fixed;
        top:-2rem;
        right: 2.5rem;
       font-size: x-small;
    }
    .btn-contacto.index{
        width: 7rem;
        background-color:$violeta5asec;
        letter-spacing: 0;
        top:5rem;
        position: fixed;
        right: 0.5rem;
       font-size: x-small;
    }    
    .max-altura{
        padding-top: map-get($map: $mapa , $key: L);
        width: 65%;
    }
    .container-contact , .container-mapa{
        width: 90%;
        margin-bottom: 1rem;
    }

    .text-color:hover{
        border:none;
        font-weight: bold;
        color:$negro-sombra;
    }
    .form-check, .form-floating {
        font-size: x-small;
    }
}

/*****************MOBILE310- SMALL ONE*/
@media screen and (max-width: 310px) {
    h3{
        margin-top: 3rem;
    }
   
    .big{
        margin-left: -5rem;
        width: 22rem;
        height: auto;
        padding: 0;
    }
    .big-tip{
        padding-top: 2rem;
        margin-left: -2rem;
        width: 13rem;
    }

    .footer_box{
        font-size: 5px;
    }

    /*Boton redes*/
    .bi-facebook{
        font-size: 5px;
        padding-left: 0.2rem;
    
    }
    
    .bi-instagram{
        font-size: 5px;
        padding-left: 0.2rem;
    
    }
    
     .bi-whatsapp{
        font-size: 5px;
        padding-left: 0.2rem;
     }
     .form-check, .form-floating {
        font-size: 8px;
    }
    .centrar{
        margin-top:20rem;
    }

    h1{
        padding-top: 2rem;
        font-size: 1rem;
    }

     
}