@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  min-height: 100v; }
  *.navbar-nav a:last-child {
    margin-right: 1rem; }
  *.footer_box :nth-child(2) {
    margin-left: 15rem; }

.btn-ok {
  padding: 0.5rem;
  width: 8rem;
  background-color: #5b1257;
  border-radius: 20px;
  border: none;
  color: white;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-decoration: none; }

.btn-ok:hover {
  background-color: #ed6c06;
  border-color: none;
  color: black; }

.btn-contacto {
  width: 7rem;
  background-color: #5b1257;
  border-radius: 20px;
  border: none;
  color: white;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-decoration: none;
  position: fixed;
  top: 4rem;
  right: 3.75rem;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.2);
  animation-name: contacto-animado;
  animation-duration: 2s;
  animation-delay: 0;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  z-index: 100; }

.btn-contacto:hover {
  background-color: #ed6c06;
  border-color: none; }

.btn-contacto a {
  color: white;
  text-decoration: none; }

body .bg-pink {
  background-color: #4e2158;
  border-bottom: 2px solid black; }

body .img_logo {
  display: flex;
  width: 30%;
  margin-left: 7rem; }

main {
  background-image: url(../images/fondo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  min-height: 100vh; }
  main .centrar, main .centrar-contacto {
    text-align: center;
    justify-content: center; }
  main .centrar-contacto {
    margin: 0; }
  main .container {
    background-color: rgba(255, 255, 255, 0.497);
    font-weight: bold;
    border-radius: 20px;
    margin-top: 5rem;
    width: 70%; }

.footer_box {
  color: white;
  padding: 0.5rem;
  background-color: #4e2158;
  bottom: 0;
  width: 100%; }

.footer_box span {
  color: white;
  margin-left: 22px; }

.footer_box a {
  color: rgba(255, 255, 255, 0.497); }

.btn-mail {
  text-decoration: none;
  color: white; }

.bi-facebook, .bi-instagram, .bi-whatsapp {
  padding-left: 1rem;
  font-size: 25px;
  text-decoration: none;
  color: #5b1257; }

.bi-facebook:hover {
  color: #425199; }

.bi-instagram:hover {
  color: #ed6c06; }

.bi-whatsapp:hover {
  color: #25D366; }

.max-altura {
  margin-top: 5rem;
  width: 35%;
  height: auto; }

.text-color {
  border: none;
  color: white; }
  .text-color:hover {
    border: none;
    color: #4b4747; }

.container-proceso, .container-tips {
  background-color: rgba(255, 255, 255, 0.497);
  font-weight: bold;
  border-radius: 20px;
  color: #5b1257;
  border: 1px solid black;
  margin: 0 auto; }

.container-proceso {
  width: 40%;
  height: auto; }

.container-tips {
  padding: 0.5rem;
  width: 68%;
  height: auto; }

.container-proceso img, .container-tips img {
  width: 100%;
  border-radius: 20px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.container-proceso img {
  background-color: rgba(245, 245, 245, 0.603); }
  .container-proceso img:hover {
    background-color: rgba(245, 245, 245, 0.805);
    transition: 0.8s;
    transform: scale(1.4); }

.container-tips img:hover {
  transition: 0.5s;
  transform: scale(1.2); }

.container-contact, .container-mapa {
  background-color: rgba(255, 255, 255, 0.852);
  font-weight: bold;
  padding: 1rem;
  border-radius: 20px;
  border: 1px solid black;
  color: #5b1257;
  margin: 0 auto;
  width: 90%;
  height: auto; }

.navbar {
  height: 63px; }

.navbar-nav .nav-link.active {
  color: #adb5bd; }

.navbar-nav a {
  margin-left: 3rem;
  transition: all 1ms ease;
  margin: 0;
  padding: 1rem;
  background-color: #4e2158;
  color: #ed6c06; }
  .navbar-nav a:hover {
    color: rgba(255, 255, 255, 0.497); }

.navbar-toggler {
  margin-top: -1rem;
  border: 1px solid #ed6c06; }
  .navbar-toggler:hover {
    border: 2px solid #ed6c06; }

.item-elegido {
  transform: scale(1);
  background: linear-gradient(90deg, #4e2158 0%, #863681 50%, #4e2158 100%);
  text-decoration: none; }

/* estilos de titulos h1---h3*/
h1, .h2-404 {
  color: #ed6c06;
  font-weight: bold;
  font-size: 2rem; }

h1 {
  margin-top: 3.5rem;
  background-color: transparent;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 2rem;
  font-size: 3.5rem; }

h2 {
  color: white;
  font-size: 1.5rem; }

.h2-404 {
  margin-top: -2rem; }

h3 {
  color: #4b4747;
  font-weight: bold;
  font-size: 1rem; }

.centrar-h2 {
  padding: 0;
  margin: 0;
  padding-top: 0.5rem;
  font-size: 1.5rem;
  color: #4b4747; }

.form-control {
  color: #5b1257;
  text-align: left;
  font-size: medium;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #ed6c06;
  margin-top: 0.5rem; }
  .form-control:hover {
    border: none;
    opacity: 0.5;
    border-bottom: 1.8px solid #ed6c06;
    background-color: transparent; }

.form-textarea {
  margin-top: 0.8rem;
  padding: 0.1rem;
  font-size: 1rem;
  background-color: transparent;
  color: #5b1257;
  text-align: left;
  width: 100%;
  height: 3.5rem;
  border: 1px solid #ed6c06; }

.text-form {
  color: black; }

.form-check, .form-floating {
  text-align: left;
  font-size: 0.75rem;
  color: #5b1257; }

.top-5rem {
  margin-top: 5rem; }

.card {
  border: none;
  background-color: transparent;
  width: 100%;
  height: auto;
  padding-bottom: 0.2rem;
  margin-bottom: 1rem; }

.card-text {
  border: none;
  padding-top: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: #5b1257;
  margin-bottom: 0.5rem; }
  .card-text:hover:first-child {
    color: #ed6c06;
    transform: scale(1.4);
    transition: 1s; }

.card2 {
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.497);
  box-shadow: 8px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
  padding-bottom: 0.2rem;
  width: 100%;
  height: auto;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  border-right: 2px solid #5b1257; }

.card2-text {
  font-size: medium;
  font-weight: bold;
  text-decoration: none;
  color: white; }
  .card2-text:hover {
    color: black; }

.estilo-b {
  margin-top: 0.5rem;
  width: 90%;
  height: 150px;
  border-right: 2px solid #ed6c06;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%; }

.estilo-c {
  border-radius: 20px;
  width: 80%;
  height: auto;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2); }

.estilo-b a:hover {
  color: #ed6c06; }

.parrafo {
  padding: 0;
  margin: 0;
  font-weight: bold;
  color: #5b1257;
  padding-top: 0.2rem;
  font-size: 1rem;
  letter-spacing: 2px; }

.rotar {
  background-image: url(../images/impg-404.jpg);
  text-align: center;
  justify-content: center;
  border-radius: 3rem;
  width: 40%;
  height: auto;
  animation-name: rotar;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 0s; }

.burbuja {
  background-image: url(../images/iconos/logo-burbuja.png);
  border-radius: 50%;
  opacity: .2;
  position: absolute;
  bottom: 0;
  animation: burbujas 3s linear infinite; }

.burbuja:nth-child(1) {
  width: 80px;
  height: 80px;
  left: 5%;
  animation-duration: 3s;
  animation-delay: 3s; }

.burbuja:nth-child(2) {
  width: 30px;
  height: 30px;
  left: 15%;
  animation-duration: 3s;
  animation-delay: 5s; }

.burbuja:nth-child(3) {
  width: 40px;
  height: 40px;
  left: 70%;
  animation-duration: 4s;
  animation-delay: 5s; }

.burbuja:nth-child(4) {
  width: 60px;
  height: 60px;
  left: 80%;
  animation-duration: 4s;
  animation-delay: 3s; }

.slide-in-elliptic-top-fwd {
  -webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

.text-pop-up-top {
  -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

/*****************  ANIMACION ROTAR ********************************/
@keyframes rotar {
  0% {
    transform: scale(1, 1.1);
    transition: all .2s ease-in-out; }
  10% {
    transform: scale(1.1, 1.2);
    transition: all .2s ease-in-out; } }

/*****************  ANIMACION CONTACTO ********************************/
@keyframes contacto-animado {
  100% {
    width: 20%; } }

/*****************  ANIMACION BURBUJAS ********************************/
@keyframes burbujas {
  0% {
    bottom: 0;
    opacity: 0; }
  30% {
    transform: translateX(30px); }
  60% {
    opacity: .4; }
  100% {
    bottom: 100vh;
    opacity: .8; } }

/*****************  ANIMACION slide-in-elliptic-top-fwd *****************/
@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1; } }

/***************** ANIMACION text-pop-up-top ******************/
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 10% 10%;
    transform-origin: 10% 10%;
    text-shadow: none; }
  100% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-transform-origin: 10% 10%;
    transform-origin: 10% 10%;
    text-shadow: 0 1px 0 #cccccc6a, 0 2px 0 #cccccc6a, 0 3px 0 #cccccc6a, 0 4px 0 #cccccc6a, 0 5px 0 #cccccc6a, 0 6px 0 #cccccc6a, 0 10px 13px rgba(0, 0, 0, 0.3); } }

/*********  MEDIA QUERY  1280 ******/
@media screen and (max-width: 1280px) {
  h1 {
    font-size: 1.5rem;
    font-size: 2.5rem; }
  .card2, .estilo-b {
    width: 95%; }
  .container-proceso {
    width: 50%; }
  .container-proceso img {
    width: 100%; }
    .container-proceso img:hover {
      transform: scale(1.3); }
  .container-tips {
    width: 80%; } }

/*********  MEDIA QUERY  1024 ******/
@media screen and (max-width: 1024px) {
  *.navbar-nav a:last-child {
    margin-right: 0; }
  *.footer_box :nth-child(2) {
    margin-left: 8rem; }
  .rotar {
    width: 50%;
    height: auto; }
  .footer_box {
    position: relative; }
  .centrar-h2 {
    font-size: 3rem; }
  .text-color {
    border: none;
    font-weight: bold; }
    .text-color:hover {
      border: none;
      font-weight: bold;
      color: #5b1257; }
  iframe {
    width: 80%;
    height: auto; }
  .card {
    padding: 0;
    padding-bottom: 2rem; } }

@media screen and (max-width: 991px) {
  .navbar-nav {
    margin-top: -1rem;
    margin-left: -1rem;
    width: 32%; } }

/*********  MEDIA QUERY  900 ******/
@media screen and (max-width: 900px) {
  .text-color {
    color: black; }
  .card2, .estilo-b {
    width: 100%;
    margin: 0 auto; }
  .card {
    padding: 0;
    width: 80%;
    margin: 0 auto; }
  .card-text {
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;
    font-size: 1rem;
    margin: 0; }
  /*Boton redes*/
  .bi-facebook2 {
    color: rgba(255, 255, 255, 0.497); }
  .bi-facebook, .bi-instagram, .bi-whatsapp, .bi-facebook2 {
    font-size: 1rem;
    padding-left: 0.5rem; }
  .form-check, .form-floating {
    font-size: 0.5rem; } }

/*********  MEDIA QUERY  780******/
@media screen and (max-width: 780px) {
  *.footer_box :nth-child(2) {
    margin-left: 3rem; }
  .container-contact, .container-mapa {
    width: 80%;
    margin-bottom: 1rem; }
  .row {
    --bs-gutter-x: 0; }
  .col-md-3 {
    margin-inline: 0.5rem; }
  .card2, .estilo-b {
    width: 90%; }
  .card {
    padding: 0;
    width: 80%;
    margin: 0 auto; } }

/*********  MEDIA QUERY  610- Surface Duo******/
@media screen and (max-width: 610px) {
  .item-elegido {
    color: #5b1257; }
  .footer_box {
    font-size: 8px;
    padding: 0.1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
  .row {
    margin-left: 0; }
  .container-tips, .container-proceso {
    width: 80%; }
  .card2, .card, .estilo-b {
    width: 80%;
    margin: 0 auto; }
  .rotar {
    width: 70%;
    height: auto; }
  .container-proceso img {
    width: 90%; }
    .container-proceso img:hover {
      background-color: rgba(255, 255, 255, 0.852);
      transition: 0.8s;
      transform: scale(1.3); } }

/*****************************/
@media screen and (max-width: 490px) {
  .navbar-toggler {
    margin-top: 0; }
  .container-tips {
    width: 95%;
    padding: 1.5rem;
    background-color: transparent;
    border: none; }
    .container-tips span {
      display: none; }
    .container-tips img {
      margin-bottom: 0.5rem;
      margin-top: -1rem;
      padding: 0; }
      .container-tips img:hover {
        transition: 0.5s;
        transform: scale(1.3); } }

/*********MEDIA QUERY - 481 *******/
@media screen and (max-width: 484px) {
  *.footer_box :nth-child(2) {
    margin-left: 6rem; }
  .navbar-toggler {
    margin-top: -5rem; }
  h3 {
    font-weight: bold; }
  .col-md-4 {
    width: 95%;
    margin-bottom: 2rem; }
  .centrar-h1 {
    padding-top: 4.5rem; }
  .centrar-h2 {
    padding-top: 1.5rem;
    font-size: 1.5rem; }
  .centrar-form {
    min-height: 500px; }
  .parrafo {
    font-weight: 900;
    color: #5b1257;
    padding-top: 1rem;
    font-size: 1rem;
    letter-spacing: 2px; }
  .card2, .estilo-b {
    width: 100%;
    margin: 0 auto; }
  .card {
    padding: 0;
    width: 100%;
    margin: 0 auto;
    font-size: 1rem; }
  .botones {
    width: 100px; }
  .boton-centrado {
    padding-left: 1.3rem; }
  .max-altura {
    padding-top: 2.5rem;
    width: 65%; }
  .container-contact, .container-mapa {
    margin-bottom: 1rem;
    width: 90%; }
  .text-color:hover {
    border: none;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.2); }
  .bi-facebook, .bi-instagram, .bi-whatsapp {
    padding-left: 0.2rem; }
  @keyframes contacto-animado {
    100% {
      width: 50%; } } }

/*****************MOBIL Galaxy Fold- SMALL ONE*/
@media screen and (max-width: 280px) {
  h1 {
    padding-top: 2rem;
    font-size: 1rem; }
  h3 {
    margin-top: 1rem; }
  .centrar {
    margin-top: 0; }
  .centrar-h1, .centrar-h2 {
    padding-top: 1rem;
    font-size: 2rem; }
  .navbar-toggler {
    margin-top: -3rem; }
  .navbar-nav {
    margin-top: 0.5rem;
    width: 40%; }
  .form-check, .form-floating {
    font-size: 0.25rem; }
  .footer_box {
    font-size: 5px;
    margin: 0; }
  /*Boton redes*/
  .bi-facebook, .bi-instagram, .bi-whatsapp {
    font-size: 0.25rem; }
  .datos, .parrafo {
    font-size: 0.75rem; } }
